#maindiv {
    overflow-x: auto !important;
    white-space: nowrap !important;
}

#screenerSettings {
    position: fixed;
    z-index: 2 !important;
  
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: var(--bg) !important;
}

#screener-head {
    position: sticky;
    top: 0;
    z-index: 1;
}

#tv-chart {
    position: absolute;
    height: 460px;
    right: -1px;

    left: 0;
}

.list-group {
    display: flex;
    flex-wrap: nowrap;
}

.list-group-vertical {
    float: left;
    margin: 7px;
    
    text-align: center;
    white-space: nowrap;
}

.screener-columns {
    width: 100%;
    min-height: 40px;
    max-height: 70px;
    overflow: auto;
}

.available-sub {
    width: 150px;
    height: 280px;
    
    overflow-y: auto;
    overflow-x: hidden;

    margin: 1px;
}

#available-columns {
    display: flex;
    justify-content: center;
}

table.dataTable thead tr th.sorting_asc {
    color: #991111;
}

table.dataTable thead tr th.sorting_desc {
    color:#119911;
}

table.table-coin tr {
    color: var(--textcolor) !important;
    font-family: 'Roboto mono', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    /* background-color: var(--bg) !important; */
    background-color: transparent !important;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
}

table.table-coin tr:nth-child(even) {
    /* background-color: #090909 !important; */
    background-color: transparent !important;
}


table.table-coin tr.triggered {
    background-color: #006100 !important;
}

.table thead > tr > th { 
    border-right: 1px solid #222222;
    border-left: 1px solid #222222;   
}

td { 
    border-right: 1px solid #222222;
    border-left: 1px solid #222222;   
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    /* background-color: #302330; */
    background-color: transparent !important;
    color: var(--textcolor);
}



.table td:first-child, .table th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    font-weight: bold;
    background-color: inherit;
}




